.add-todo-form {
  padding: 1em;
}

.hero {
  padding: 0 1em;
}

/* .hero-body > c > h1 {
  font-weight: 700;
  margin-bottom: 0em;
} */

.bg-white {
  border-bottom: 1px solid rgb(220, 220, 220);
}

.bg-gradient {
  background: linear-gradient(217deg,#DA4453, #89216B);
  color: #fff;
}

.contain {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.modal-container {
  padding-bottom: 4em;
}

.form-label {
  margin-top: 0;
  font-weight: bold;
}

.form-input {
  border-radius: 0;
  padding: 2em 0;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
}

textarea.form-input {
  padding: 1em 0 2em 0;
}

.form-input:focus {
  border: none;
  border-bottom: 2px solid #5755d9;
  box-shadow: none;
}

.todo-completed {
  text-decoration: line-through;
}

.action-button {
  position: absolute;
  right: 1em;
  margin-top: -2em;
}

.loading-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.btn-primary {
  background: #89216B;
  border-color: #89216B;
}

.btn.btn-primary:active, .btn.btn-primary:hover, .btn.btn-primary:focus {
  background: #560038;
  border-color: #560038;
}

.btn.btn-error {
  background: #DA4453;
  border-color: #DA4453;
}

.btn.btn-error:active, .btn.btn-error:hover, .btn.btn-error:focus {
  background: #A71120;
  border-color: #A71120;
}

.btn.btn-lg.btn-circle {
  height: 3em;
  width: 3em;
}

.btn.btn-md.btn-circle {
  height: 2.5em;
  width: 2.5em;
}

.btn-circle {
  border-radius: 999px;
}

.btn.btn-outline {
  color: #fff;
  border: 2px solid#fff;
  background-color: transparent;
}

.mt-4em {
  margin-top: 3em;
}

.mb-4 {
  margin-bottom: 1em;
}

.ml-4 {
  margin-left: 1em;
}

.mr-4 {
  margin-right: 1em;
}