/* your custom css */
.mainLogo {
  width: 30%;
  height: auto;
  margin: 0 auto;
}

.intro {
  display: flex;
  justify-content: center;
}
.introVideo {
  width: 80%;
  height: 600px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
